<!DOCTYPE html>
<html>  
<head>
</head>

<body>

    {% include 'header.html' %}
 
    <!--Page Content-->
    <h1>About Us</h1>
    <p>For Rose Hack this year, our group wanted to create an experience that would ease the car buying experience for college students. We call it Right Way, a web application that provides users ratings of used cars based on the make, model, year, and a series of questions about the car's state. 

        Using an API to access pictures of the vehicle based on the information the user provides, the web app reports a series of explanations under an image and an overall rating of the car, calculated by an algorithm that determines this number based off the user's answers to the questions that lead them to the final page. We kept in mind throughout development that the user is most likely a young adult who is buying their first car. So above each explanation, the user can click on that particular section and receive a definition about that particular word/section. The purpose of the web application to create a more positive and less confusing experience for young adults who are interested in purchasing a used vehicle. 
        
        Through development, we used Python on the backend and HTML/CSS and Javascript on the frontend, using Jinja and Flask to connect the two elements together to create a cohesive product.
    </p>


</body>
</html>