<!DOCTYPE html>
<html>  
<head>
    <title>RightWay Home</title>
</head>

<body>

    {% include 'header.html' %}
 
    <!--Page Content-->
    <div class="container">
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <h1 class="mt-5">RightWay</h1>
                    <form action = "/car" method = "post">
                      Brand:<br>
                      <input type="text" name="brand"><br>
                      Make:<br>
                      <input type="text" name="make"><br>
                    Year:<br>
                      <input type="text" name="year"><br>
                    <br><input type="submit" value="Get Started!"><br>
                    </form>
                  </div>
                </div>
    </div>

</body>
</html>
