<!DOCTYPE html>
<html>  
<head>
</head>

<body>

    {% include 'header.html' %}
 
    <!--Page Content-->
    <div class="container">
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <h1 class="mt-5">How old is your car?</h1>
                    <form action = "/inputAnswer" method = "post">
                      Answer:<br>
                      {% if(error != ""): %}
                      <p>ERROR: {{error}}</p>
                      {% endif %}
                      <input type="text" name="answer"><br>
                      <br><input type="submit" value="CLICK ME"><br>
                    </form>
                  </div>
                </div>
    </div>
    <br><br><br><br>
    {% include 'footer.html' %}
</body>
</html>