<!DOCTYPE html>
<html>  
<head>
</head>

<body>

    {% include 'header.html' %}
 
    <!--Page Content-->
    <div class="container">
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <h1 class="mt-5">How many miles have been used since the car's last oil change?</h1>
                    <form action = "/inputAnswer" method = "post">
                      Answer:<br>
                      <input type="text" name="answer"><br>
                      <br><input type="submit" value="CLICK ME"><br>
                    </form>
                  </div>
                </div>
    </div>

</body>
</html>