<!DOCTYPE html>
<html lang="en">

<head>
  <title>RightWay</title>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">Navigation</a>
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#mileage">Mileage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#age">Age</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#batterychange">Battery Change</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#oilchange">Oil Change</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <header class="bg-primary text-white">
    <div class="container-fluid text-center">
      <br><br><br><br><br><br>
      <h1>Here are your results</h1>
      <p class="lead">{{score}}</p>

    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
      <p class="lead">{{finalText}}</p></div>
      <div class="col-lg-4"></div></div>

    <div class="row">
    	<div class="col-lg-3"></div>
	    <div class="col-lg-3">
      	 Body Type: {{body}}</p>
      	 Number of Seats: {{seats}}</p>
      	 Number of Doors: {{doors}}</p>
	       Country of Origin: {{origin}}</div>
      <div class="col-lg-3">
      	 Weight: {{weight}}</p>
      	 Length: {{length}}</p>
      	 Height: {{height}}</p>
      	 Family Friendly: {{family}}</div>
	    <div class="col-lg-3"></div>
	  </div>
    </div><br><br>
  </header>

  <section id="mileage">
    <br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><a class="header" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
              aria-controls="collapseExample1">
              Mileage
            </a></h2>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body">
              Mileage is considered high or low relative to the car's age. If you drive well below the average mileage each year, then although the car may be above average at purchase, it could be considered below average at sale. That means the opposite is also true.
            </div>
          </div>
          <p class="lead">The average annual mileage is 12,000, so if a car has mileage somewhat less than 60,000 after five years it would be considered low. If it's much more, it would be classed as high.</p>
        </div>
      </div>
    </div><br><br><br><br>
  </section>

  <section id="age" class="bg-light">
    <br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><a class="header" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
              aria-controls="collapseExample2">
              Age of your car
            </a></h2>
          <div class="collapse" id="collapseExample2">
            <div class="card card-body">
              The age of a car can tell you a lot about its condition. Generally, the older the car, the older the parts of the car, therefore the chance of it functioning well for a long time are low. 
            </div>
          </div>
          <p class="lead">For used cars, purchasing a car that is younger is better. Ideally, a car under 5 years old will not require a lot of repairs, while a 10 year old car can deprecate a lot of repair costs. </p>
        </div>
      </div>
    </div><br><br><br><br>
  </section>

  <section id="batterychange">
    <br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><a class="header" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
              aria-controls="collapseExample3">
              Battery Change
            </a></h2>
          <div class="collapse" id="collapseExample3">
            <div class="card card-body">
              Keeping your car battery fully charged means your battery will have a longer lifespan and use energy more efficiently.
            </div>
          </div>
          <p class="lead">The more recent a battery change, the better. The life expectancy for your car battery is typically between four to six years. Several factors determine how long your battery will last, for example weather conditions, vehicle type and driving habits.</p>
        </div>
      </div>
    </div><br><br><br><br>
  </section>

  <section id="oilchange" class="bg-light">
    <br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><a class="header" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false"
              aria-controls="collapseExample4">
              Oil Change
            </a></h2>
          <div class="collapse" id="collapseExample4">
            <div class="card card-body">
              Changing the oil of your car regularly is one of the best ways to extend the life of your car and enhance its performance on the road. Your car’s engine oil lubricates parts of your engine. Over time, the oil gets dirty, its consistency changes and soon, your car’s performance will drop; or worse, your car will stop running.
            </div>
          </div>
          <p class="lead">Some swear by the “every 3,000 miles or every 3 months” rule, but advances in engines and oil have made that guidance obsolete. Many automakers have oil-change intervals at 7,500 or even 10,000 miles and 6 or 12 months for time.</p>
        </div>
      </div>
    </div><br><br><br><br>
  </section>

  <br>
  <a class="btn btn-lg btn-primary btn-block text-uppercase" href="/reset">Click here to try a different car</a>
  <br>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; RightWay 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- JS stuff -->
  <script src="js/report.js"></script>

</body>

</html>