<!DOCTYPE html>
<html lang="en">

<head>
  <title>RightWay</title>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#mileage">Mileage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#age">Age</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#batterychange">Battery Change</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#oilchange">Oil Change</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <header class="bg-primary text-white">
    <div class="container text-center">
      <br><br><br><br><br><br>
      <h1>Here are your results</h1>
      <p class="lead">{{score}}</p>
    </div><br><br><br>
  </header>

  <section id="mileage">
    <br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><a class="header" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
              aria-controls="collapseExample1">
              Mileage
            </a></h2>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body">
              This is what mileage is and this is a good explanation of what mileage is. We are the group RightWay and
              we are going the right way.
            </div>
          </div>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita
            quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore
            ut velit dignissimos.</p>
        </div>
      </div>
    </div><br><br><br><br>
  </section>

  <section id="age" class="bg-light">
    <br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><a class="header" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
              aria-controls="collapseExample2">
              Age of your car
            </a></h2>
          <div class="collapse" id="collapseExample2">
            <div class="card card-body">
              This is what mileage is and this is a good explanation of what mileage is. We are the group RightWay and
              we are going the right way.
            </div>
          </div>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita
            quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore
            ut velit dignissimos.</p>
        </div>
      </div>
    </div><br><br><br><br>
  </section>

  <section id="batterychange">
    <br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><a class="header" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
              aria-controls="collapseExample3">
              Battery Change
            </a></h2>
          <div class="collapse" id="collapseExample3">
            <div class="card card-body">
              This is what mileage is and this is a good explanation of what mileage is. We are the group RightWay and
              we are going the right way.
            </div>
          </div>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor,
            provident officiis, id iusto! Obcaecati incident, qui nihil beatae magnam et repudiandae ipsa
            exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div><br><br><br><br>
  </section>

  <section id="oilchange" class="bg-light">
    <br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><a class="header" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false"
              aria-controls="collapseExample4">
              Oil Change
            </a></h2>
          <div class="collapse" id="collapseExample4">
            <div class="card card-body">
              This is what mileage is and this is a good explanation of what mileage is. We are the group RightWay and
              we are going the right way.
            </div>
          </div>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor,
            provident officiis, id iusto! Obcaecati incident, qui nihil beatae magnam et repudiandae ipsa
            exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div><br><br><br><br>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; RightWay 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- JS stuff -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>